<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mysql.mapper.FileDataSequenceMapper">
	<resultMap id="BaseResultMap" type="com.mysql.entity.FileDataSequence">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, createTime
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from file_data_sequence
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		file_data_sequence
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.mysql.entity.FileDataSequence">
		insert into file_data_sequence
		(id, createTime)
		values (#{id,jdbcType=BIGINT},
		#{createtime,jdbcType=TIMESTAMP})
	</insert>

	<insert id="increase" parameterType="com.mysql.entity.FileDataSequence"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		file_data_sequence
		(createTime)
		values (sysdate())
	</insert>

	<insert id="insertSelective" parameterType="com.mysql.entity.FileDataSequence">
		insert into file_data_sequence
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="createtime != null">
				createTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.mysql.entity.FileDataSequence">
		update file_data_sequence
		<set>
			<if test="createtime != null">
				createTime = #{createtime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.mysql.entity.FileDataSequence">
		update
		file_data_sequence
		set createTime = #{createtime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>